* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7F8;
    font-family: Be Vietnam Pro;

}

a {
    font-family: Be Vietnam Pro;
    color: #262626;
    text-decoration: none;
}
.container {
    width: calc(100% - 120px);
    padding: 10px 0;
    margin: auto;



}
.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:100px 0;
}
.row div{
    width:30%;
    padding: 20px;
    border: #262626 solid 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px 0;

 
}
img{
    width:100%;
}
p{
    color:#262626;
}
a{
    background-color: #262626;
    color: #F7F7F8;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    text-align: center;
}
